# Arquivos de sistema
.DS_Store
Thumbs.db
*.tmp

# Dependências
node_modules/
jspm_packages/
venv/
.venv/
env/

# Builds e logs
dist/
build/
*.log
npm-debug.log*
yarn-debug.log*

# Credenciais e configurações locais
.env
.env.local
.env.*.local
*.pem

# IDEs e Editores
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
