.lista_filmes {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  margin: 20px 0;
}

.lista_filmes article {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 20rem;
  height: 600px;
}

.title_box {
  width: 100%;
  height: 86px;
  background-color: var(--blue-primary);
  border-radius: 10px 10px 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lista_filmes strong {
  color: white;
  padding: 0 20px;
  font-size: 22px;
  text-align: center;
}

.lista_filmes img {
  width: 100%;
}

.lista_filmes a {
  background-color: var(--blue-primary);
  border-radius: 0 0 10px 10px;
  color: white;
  text-decoration: none;
  width: 100%;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background 0.2s;
}

.lista_filmes a:hover {
  background-color: var(--blue-primary-hover);
}
