.header {
  width: 100%;
  background-color: black;
  height: 80px;

  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
  padding: 0px 60px;
}

.logo {
  text-decoration: none;
  font-size: 24px;
  color: white;
}

.logo span {
  font-weight: bold;
  color: var(--blue-primary);
}

.nav {
  display: flex;
  gap: 20px;
}

.nav a {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: black;
  padding: 10px 20px;
  border-radius: 8px;
  text-decoration: none;
  transition: 0.2s;
}

.nav a:hover {
  background-color: var(--blue-primary);
  color: white;
}

@media (max-width: 768px) {
  .header {
    padding: 0px 20px;
  }

  .nav a {
    padding: 6px 10px;
    text-align: center;
  }
}
