.filme_info {
  margin: 0 auto;
  margin-top: 18px;
  display: flex;
  flex-direction: column;
  max-width: 800px;
  padding: 0 8px;
}

.filme_info h1 {
  margin: 14px 0;
}

.filme_info img {
  border-radius: 8px;
  width: 800px;
  max-width: 100%;
  max-height: 340px;
  object-fit: cover;
}

.filme_info h3 {
  margin-top: 14px;
}

.filme_info span {
  margin: 8px 0;
}

.area_buttons button {
  margin-right: 12px;
  margin-top: 14px;
  margin-left: 0;
  font-size: 20px;
  border: none;
  outline: none;
  border-radius: 4px;
  padding: 14px;
  cursor: pointer;
  transition: background 0.2s;
}

.area_buttons button:hover {
  background-color: brown;
  color: white;
}

.area_buttons a {
  text-decoration: none;
  color: black;
}

.area_buttons a:hover {
  color: white;
}
